# Introduction

Four parts for each component:
1. Introduction
2. Example
3. Graded assignment

How many components?
1. Data extraction: web scraping
2. Data cleaning: python
4. Entity recognition: json output of Koko results
5. Data transformation: from json to dataframe

Difficulty level:
1. From trivial to non-trivial tasks -- this's a graduate course.

# 1. Data acquisition & cleaning

Task: extract texts of aviation incidents from websites  
Tools: BeautifulSoup, scrapy  
Grading metrics: autograder finds a given set of sentences in the txt file uploaded.

We first use BeautifulSoup to extract text information from the aircraft incident website.  
BeautifulSoup has been pre-installed for you.

Here we use lxml parser.  
You can definitely try other parsers, as illustrated [here](https://www.crummy.com/software/BeautifulSoup/bs4/doc/).

In [1]:
from bs4 import BeautifulSoup

input_html = "./data/aircraft_incidents.htm"
with open(input_html, "r") as ifile:
    soup = BeautifulSoup(ifile, 'lxml')
    
soup.title.string

'List of accidents and incidents involving commercial aircraft - Wikipedia'

**Assignment 1:** Use BeautifulSoup to scrape the website on \[server url\], and generate a text file containing all the text on the website. The generated file should not contain any tag information of the scraped html file.

In [2]:
# Write your code here #

fname = "aviation_incidents.txt"

The following code will check if the generated text file satisfy the requirement.
(We should have a more strict checking after the assignment is submitted.)

In [3]:
import re

with open(fname, "r") as ifile:
    # Check if all tags have been removed
    doc = ifile.read()
    result = re.search(r"<.*>", doc)
    if result:
        print("Error: \n{}".format(result.string))
    else:
        print("No tag found!")

Error:
<html></html>
Nothing special.

After the web page is scraped, you may find that the extracted data is not very organized.  
So the next step is to clean the extracted data, so that it can be used for further analysis.

Here's a sample of how a cleaned version should look like:

In [4]:
with open('./data/aviation_lists_cleaned.txt') as ifile:
    for i in range(5):
        print(ifile.readline())

On July 21, 1919, The Goodyear dirigible Wingfoot Air Express catches fire and crashes into the Illinois Trust and Savings Building in Chicago, Illinois, while carrying passengers to a local amusement park, killing thirteen people: three out of the five on board and ten others on the ground, with 27 others on the ground being injured.

On August 2, 1919, A Caproni Ca.48 crashes at Verona, Italy, during a flight from Venice to Taliedo, Milan, killing all on board (14, 15, or 17 people, according to different sources).

On December 14, 1920, A Handley Page Transport Handley Page O/400 hits a tree and crashes at Golders Green, London, after failing to gain height following takeoff, killing four out of eight on board.

On April 7, 1922, In the first mid-air collision of airliners, a de Havilland DH.18A, G-EAWO, operated by Daimler Hire Ltd., collides with a Farman F.60 Goliath, F-GEAD, operated by Compagnie des Grands Express Aériens (CGEA), over the Thieulloy-St. Antoine road near Picardie, France, killing all seven people on both aircraft.

On May 14, 1923, An Air Union Farman F.60 Goliath crashes near Monsures, Somme, France, due to the structural failure of a wing, killing all six on board.

There are a variety of ways to clean the documents. Here we give one example.  

* Extract the part that specifies the incidents.
* Clean the extract part.

First, we extract the texts that list all the incidents.

In [5]:
with open('./data/aviation_incidents_raw_texts.txt') as ifile:
    with open('./data/aviation_incidents_select.txt', 'w+') as ofile:
        to_record = False
        for line in ifile:
            cleaned_line = line.rstrip()
            if not cleaned_line:
                continue
            
            if 'References' in line:
                break
                
            if 'See also' in line:
                to_record = True
                continue
        
            if to_record == True:
                ofile.write(line)

Let's take a glimpse of the output file.

In [6]:
with open('./data/aviation_incidents_select.txt') as myfile:
    head = [next(myfile) for x in range(10)]
head

['1910s and 1920s[edit]\n',
 '1919[edit]\n',
 'July 21 – The Goodyear dirigible Wingfoot Air Express catches fire and crashes into the Illinois Trust and Savings Building in Chicago, Illinois, while carrying passengers to a local amusement park, killing thirteen people: three out of the five on board and ten others on the ground, with 27 others on the ground being injured.\n',
 'August 2 – A Caproni Ca.48 crashes at Verona, Italy, during a flight from Venice to Taliedo, Milan, killing all on board (14, 15, or 17 people, according to different sources).\n',
 '1920[edit]\n',
 'December 14 – A Handley Page Transport Handley Page O/400 hits a tree and crashes at Golders Green, London, after failing to gain height following takeoff, killing four out of eight on board.\n',
 '1922[edit]\n',
 'April 7 – In the first mid-air collision of airliners, a de Havilland DH.18A, G-EAWO, operated by Daimler Hire Ltd., collides with a Farman F.60 Goliath, F-GEAD, operated by Compagnie des Grands Express Aériens (CGEA), over the Thieulloy-St. Antoine road near Picardie, France, killing all seven people on both aircraft.\n',
 '1923[edit]\n',
 'May 14 – An Air Union Farman F.60 Goliath crashes near Monsures, Somme, France, due to the structural failure of a wing, killing all six on board.\n']

Next, we move the year information into each entry.  

For example, if we have:  
"1920\[edit\]:  
December 14 – A Handley Page Transport Handley Page O/400 hits a tree and crashes at Golders Green, London, after failing to gain height following takeoff, killing four out of eight on board."  

We will remove "1920\[edit\]:", and add "1920" into the line of the event, so that we'll have:
"On December 14, 1920 – A Handley Page Transport Handley Page O/400 hits a tree and crashes at Golders Green, London, after failing to gain height following takeoff, killing four out of eight on board."

In [47]:
def represent_int(s):
    try:
        int(s)
        return True
    except ValueError:
        return False

with open('./data/aviation_incidents_select.txt' ) as ifile:
     with open('./data/aviation_incidents_cleaned.txt', 'w') as ofile:
        year = 0
        for line in ifile:
            cleaned_line = line.replace('[edit]', '')
            proc_line = cleaned_line.rstrip()
            if represent_int(proc_line):
                # The line represents a year
                year = int(proc_line)
                continue
            else:
                months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 
                          'August', 'September', 'October', 'November', 'December']
                month_pattern = '|'.join(months)
                if re.search(month_pattern, proc_line):
                    match_obj = re.search(r"[0-9]\s.\s", proc_line)
                    if match_obj:
                        replace_text = ", " + str(year) + ", "
                        newline = proc_line.replace(match_obj.group()[1:], replace_text)
                        ofile.write(newline+'\n')

Let's take a look.

In [49]:
with open('./data/aviation_incidents_cleaned.txt') as myfile:
    head = [next(myfile) for x in range(5)]
head

['July 21, 1919, The Goodyear dirigible Wingfoot Air Express catches fire and crashes into the Illinois Trust and Savings Building in Chicago, Illinois, while carrying passengers to a local amusement park, killing thirteen people: three out of the five on board and ten others on the ground, with 27 others on the ground being injured.\n',
 'August 2, 1919, A Caproni Ca.48 crashes at Verona, Italy, during a flight from Venice to Taliedo, Milan, killing all on board (14, 15, or 17 people, according to different sources).\n',
 'December 14, 1920, A Handley Page Transport Handley Page O/400 hits a tree and crashes at Golders Green, London, after failing to gain height following takeoff, killing four out of eight on board.\n',
 'April 7, 1922, In the first mid-air collision of airliners, a de Havilland DH.18A, G-EAWO, operated by Daimler Hire Ltd., collides with a Farman F.60 Goliath, F-GEAD, operated by Compagnie des Grands Express Aériens (CGEA), over the Thieulloy-St. Antoine road near Picardie, France, killing all seven people on both aircraft.\n',
 'May 14, 1923, An Air Union Farman F.60 Goliath crashes near Monsures, Somme, France, due to the structural failure of a wing, killing all six on board.\n']

# 3. Entity recognition

## Introduction: Named Entity Extration

We can try extracting airline company names from the corpus, to see which company has the most number of incidents.  
There are a number tools that can extract entities from text, including NLTK, spaCy, Google NLP.  
Today we will introduce an entity extraction framework called Koko, which allows the user to specify properties of the extracted entities in a declarative way.

In [50]:
with open('./koko_queries/airlines_v2.koko', 'r') as file:
    print(file.read())

extract "Ents" x from "/Users/chen/Research/Code/BigGorilla-assignments/Koko/data/aviation_incidents_cleaned.txt" if
	(str(x) contains "Airlines" {0.1}) or
	(str(x) contains "Air" {0.1})
with threshold 0.0

This query tells Koko to extract noun phrases 'x' from HappyDB if "x" is preceded by either "buy" or "purchase".

The weight in each "if" condition (e.g., {0.1} for ("buy" x)) represents the importance of the pattern specified in the condition.
Any appearance of an entity in happy moments that matches the pattern is considered a piece of evidence.
And each such piece of evidence would increment the entity's score by the condition's weight.

For example, if there's a happy moment "I buy a car", this moment is considered as evidence for "a car" based on the first condition, and 0.1 is added to "a car"'s score.
In Koko, the score of an entity is at most 1.

Finally, we can specify threshold in Koko queries.
Only entities scoring higher than the thresold would be returned in the results.
For simplicity, I put zero as thresold here, which shows all entities that have at least one piece of evidence in happy moments.

If you are interested, check out more tutorials for Koko [here](http://pykoko.readthedocs.io/en/latest/).

Let's run the Koko query now to see the results.

Here I use spaCy as the nlp processor for happy moments. Koko could leverage spaCy's APIs for entity extraction.
The extracted entities could be further matched against the conditions in the Koko query to get scored, ranked and filtered.

SpaCy is not the only option. We can also use Koko's default parser or Google NLP API as well.

In [51]:
import koko
import spacy

koko.run('./koko_queries/airlines_v2.koko', doc_parser='spacy')

Parsed query: extract "/Users/chen/Research/Code/BigGorilla-assignments/Koko/data/aviation_incidents_cleaned.txt" Ents from "x" if
	(str(x) contains "Airlines" { 0.10 }) or
	(str(x) contains "Air" { 0.10 })
with threshold 0.00


Results:

Entity name                    Entity count         Entity score
======================================================================
United Airlines                27                   1.000000
American Airlines              25                   1.000000
Northwest Airlines             11                   1.000000
Eastern Air Lines              16                   1.000000
Air France                     15                   1.000000
Japan Airlines                 11                   1.000000
China Airlines                 11                   1.000000
National Airlines              7                    0.700000
Northwest Orient Airlines      7                    0.700000
Philippine Airlines            7                    0.700000
Indian Airlines                7                    0.700000
Merpati Nusantara Airlines     6                    0.600000
Continental Airlines           5                    0.500000
Pakistan International Airlines 5                    0.500000
Air Canada                     5                    0.500000
Delta Air Lines                5                    0.500000
Southwest Airlines             5                    0.500000
United Arab Airlines           4                    0.400000
Allegheny Airlines             4                    0.400000
Asiana Airlines                4                    0.400000
An Air Union                   3                    0.300000
Pennsylvania Central Airlines  3                    0.300000
Canadian Pacific Air Lines     3                    0.300000
Trans-Canada Air Lines         3                    0.300000
Northeast Airlines             3                    0.300000
Capital Airlines               3                    0.300000
Ariana Afghan Airlines         3                    0.300000
Air France Flight              3                    0.300000
Mohawk Airlines                3                    0.300000
Iberia Airlines                3                    0.300000
North Central Airlines         3                    0.300000
Korean Air Flight              3                    0.300000
China Southwest Airlines       3                    0.300000
Southern Airlines              3                    0.300000
Singapore Airlines             3                    0.300000
China Eastern Airlines         3                    0.300000
An Air Union Blériot           2                    0.200000
Norwegian Air Lines            2                    0.200000
Scandinavian Airlines System   2                    0.200000
MacRobertson Miller Airlines   2                    0.200000
Air India Flight 245           2                    0.200000
Piedmont Airlines              2                    0.200000
Ethiopian Airlines             2                    0.200000
Middle East Airlines           2                    0.200000
Alaska Airlines                2                    0.200000
Libyan Arab Airlines           2                    0.200000
Ozark Air Lines                2                    0.200000
Western Airlines               2                    0.200000
Pacific Western Airlines       2                    0.200000
Korean Air Lines               2                    0.200000
Air Rhodesia Flight            2                    0.200000
Air Force                      2                    0.200000
Cameroon Airlines              2                    0.200000
Skywest Airlines               2                    0.200000
Mandala Airlines               2                    0.200000
China Northern Airlines        2                    0.200000
Air Algérie Flight             2                    0.200000
Azerbaijan Airlines            2                    0.200000
ADC Airlines                   2                    0.200000
UPS Airlines                   2                    0.200000
Nepal Airlines                 2                    0.200000
Malaysia Airlines              2                    0.200000
Air Kasthamandap               2                    0.200000
Silk Way Airlines              2                    0.200000
Wingfoot Air Express           1                    0.100000
A Transcontinental & Western Air Fokker 1                    0.100000
The United Airlines            1                    0.100000
An Air France Wibault          1                    0.100000
Western Air Express            1                    0.100000
Naval Air Engineering Station  1                    0.100000
U.S. Army Air Corps            1                    0.100000
An American Overseas Airlines  1                    0.100000
Air                            1                    0.100000
Air Force Yakovlev             1                    0.100000
Air France Latécoère           1                    0.100000
Queensland Airlines            1                    0.100000
Italian Airlines               1                    0.100000
Standard Air Lines Flight      1                    0.100000
An Air France Lockheed Constellation 1                    0.100000
Air India Flight               1                    0.100000
A Canadian Pacific Air Lines Douglas 1                    0.100000
Miami Airlines                 1                    0.100000
An Air France SNCASE Languedoc 1                    0.100000
Transocean Air Lines Flight 512 1                    0.100000
United Airlines Douglas        1                    0.100000
An Air India Lockheed L-749 Constellation 1                    0.100000
Scottish Airlines              1                    0.100000
US Air Force                   1                    0.100000
Dan-Air                        1                    0.100000
An Independent Air Travel Vickers 1                    0.100000
Italian Air Force              1                    0.100000
Southeast Airlines             1                    0.100000
Turkish Airlines Gatwick       1                    0.100000
Air Charter                    1                    0.100000
Trans Australia Airlines       1                    0.100000
Austrian Airlines              1                    0.100000
Airlines Douglas               1                    0.100000
Imperial Airlines              1                    0.100000
Turkish Air Force              1                    0.100000
Eagle International Airlines   1                    0.100000
Pacific Air Lines              1                    0.100000
Civil Air Transport Flight     1                    0.100000
Bonanza Air Lines              1                    0.100000
Air India Flight 101           1                    0.100000
Canadian Pacific Air Lines Flight 402 1                    0.100000
West Coast Airlines            1                    0.100000
Varig Airlines Flight 837      1                    0.100000
Globe Air-                     1                    0.100000
Mohawk Airlines Flight 40      1                    0.100000
Seaboard World Airlines        1                    0.100000
BKS Air Transport Heathrow     1                    0.100000
Air France Flight 1611         1                    0.100000
Wien Consolidated Airlines     1                    0.100000
Hawthorne Nevada Airlines      1                    0.100000
Far Eastern Air Transport Flight 104 1                    0.100000
Air Force Antonov An-12        1                    0.100000
Dan-Air de Havilland Comet     1                    0.100000
Toa Domestic Airlines          1                    0.100000
Air Wisconsin Flight           1                    0.100000
Uruguayan Air Force            1                    0.100000
Ansett Airlines                1                    0.100000
Delta Airlines                 1                    0.100000
Châteaubernard Air Base        1                    0.100000
Invicta International Airlines 1                    0.100000
Japan Air Lines                1                    0.100000
Texas International Airlines   1                    0.100000
Air Vietnam Flight             1                    0.100000
Golden West Airlines           1                    0.100000
Air Maroc                      1                    0.100000
Royal Jordanian Airlines       1                    0.100000
Wien Air                       1                    0.100000
Air Manila Flight              1                    0.100000
Czechoslovakia Airlines        1                    0.100000
Dan-Air Boeing                 1                    0.100000
Arab Airlines                  1                    0.100000
Air India Flight 855           1                    0.100000
Icelandic Airlines             1                    0.100000
Air New England                1                    0.100000
Dan-Air Flight 0034            1                    0.100000
Air New Zealand                1                    0.100000
Iran Air Flight 291            1                    0.100000
Advance Airlines               1                    0.100000
Dan-Air Flight                 1                    0.100000
Florida Commuter Airlines      1                    0.100000
Dan-Air Flight 240             1                    0.100000
Somali Airlines                1                    0.100000
Far Eastern Air Transport Flight 103 1                    0.100000
Air Florida Flight 90          1                    0.100000
Air India Flight 403           1                    0.100000
Air Canada Flight              1                    0.100000
Gulf Air Flight                1                    0.100000
Air Illinois Flight            1                    0.100000
TAAG Angola Airlines Boeing    1                    0.100000
Biman Bangladesh Airlines      1                    0.100000
Galaxy Airlines                1                    0.100000
Air Force Antonov An-26        1                    0.100000
Air India Flight 182           1                    0.100000
Bar Harbor Airlines            1                    0.100000
Bakhtar Afghan Airlines        1                    0.100000
Midwest Express Airlines       1                    0.100000
Arrow Air Flight 1285          1                    0.100000
Yakutsk United Air Group       1                    0.100000
Air Lanka Flight 512           1                    0.100000
Grand Canyon Airlines          1                    0.100000
Pacific Southwest Airlines     1                    0.100000
Aloha Airlines                 1                    0.100000
Iran Air Flight 655            1                    0.100000
Vietnam Airlines               1                    0.100000
Uganda Airlines                1                    0.100000
Independent Air Flight 1851    1                    0.100000
Air Ontario                    1                    0.100000
Korean Air Flight 803          1                    0.100000
Xiamen Airlines                1                    0.100000
Lauda Air Flight 004           1                    0.100000
L'Express Airlines             1                    0.100000
Air Inter                      1                    0.100000
Copa Airlines                  1                    0.100000
Libyan Air Force               1                    0.100000
Iran Air Tours                 1                    0.100000
Palair Macedonian Airlines     1                    0.100000
Shemya Air Force Base          1                    0.100000
Japan Air System               1                    0.100000
China Northwest Airlines       1                    0.100000
A Tajik Air Yakovlev Yak-40    1                    0.100000
Baikal Airlines                1                    0.100000
Royal Air Maroc Flight 630     1                    0.100000
Vanavara Air Disaster          1                    0.100000
Cheremshanka Airlines          1                    0.100000
Air St. Martin Beech 1900      1                    0.100000
Banat Air Flight 166           1                    0.100000
Air Africa                     1                    0.100000
Eastwind Airlines              1                    0.100000
Spair Airlines                 1                    0.100000
Vnukovo Airlines               1                    0.100000
Saudi Arabian Airlines         1                    0.100000
Air Kazakhstan Flight          1                    0.100000
Beechcraft King Air            1                    0.100000
Ethiopian Airlines Flight 961  1                    0.100000
Sempati Air Flight 304         1                    0.100000
Formosa Airlines               1                    0.100000
Vietnam Airlines Flight 815    1                    0.100000
Royal Brunei Airlines          1                    0.100000
Tajikistan Airlines            1                    0.100000
TAME Airlines                  1                    0.100000
Peruvian Air Force             1                    0.100000
MIAT Mongolian Airlines        1                    0.100000
Proteus Airlines               1                    0.100000
Air Cargo Flight               1                    0.100000
Air Philippines                1                    0.100000
Wuhan Airlines                 1                    0.100000
Alliance Air Flight 7412       1                    0.100000
Gulf Air Flight 072            1                    0.100000
Dirgantara Air Service         1                    0.100000
Vladivostok Air Flight         1                    0.100000
Air Transat Flight 236         1                    0.100000
Siberia Airlines Flight 1812   1                    0.100000
Lion Air Flight 386            1                    0.100000
Iran Air Tours Flight 956      1                    0.100000
Air China                      1                    0.100000
EAS Airlines                   1                    0.100000
Prestige Airlines              1                    0.100000
Laoag International Airlines   1                    0.100000
Air Midwest Flight 5481        1                    0.100000
UM Airlines                    1                    0.100000
Flash Airlines                 1                    0.100000
Kish Air Flight 7170           1                    0.100000
Air Tahoma Flight 185          1                    0.100000
Siberia Airlines               1                    0.100000
MK Airlines                    1                    0.100000
Pinnacle Airlines              1                    0.100000
Corporate Airlines             1                    0.100000
Lion Air Flight 538            1                    0.100000
Kam Air Flight 904             1                    0.100000
Air Transat Flight 961         1                    0.100000
Regional Airlines              1                    0.100000
Kavatshi Airlines              1                    0.100000
An Air Kasai Antonov           1                    0.100000
Bellview Airlines              1                    0.100000
Sosoliso Airlines              1                    0.100000
Air Algérie Flight 2208        1                    0.100000
Iran Air Tours Flight 945      1                    0.100000
Adam Air Flight                1                    0.100000
Air West Flight                1                    0.100000
Adam Air Flight 172            1                    0.100000
Airlines Il-76                 1                    0.100000
Paramount Airlines             1                    0.100000
Free Airlines                  1                    0.100000
TAAG Angola Airlines           1                    0.100000
TAM Airlines                   1                    0.100000
Air Moorea                     1                    0.100000
One-Two-GO Airlines            1                    0.100000
Santa Bárbara Airlines         1                    0.100000
Blue Wing Airlines             1                    0.100000
Yeti Airlines                  1                    0.100000
Colgan Air Flight 3407         1                    0.100000
Caspian Airlines               1                    0.100000
Aria Air Flight                1                    0.100000
Divi Divi Air Flight 014       1                    0.100000
Taban Air Flight 6437          1                    0.100000
Ethiopian Airlines Flight 409  1                    0.100000
the International Federation of Air Line Pilots' Associations 1                    0.100000
Air India Express              1                    0.100000
Agni Air Flight 101            1                    0.100000
Henan Airlines                 1                    0.100000
JS Air                         1                    0.100000
The Zalingei Tarco Airlines    1                    0.100000
Dagestan Airlines              1                    0.100000
A Tara Air de Havilland Canada 1                    0.100000
Iran Air Flight 277            1                    0.100000
The 2011 Pointe-Noire Trans Air Congo An-12 1                    0.100000
Bagram Air Base                1                    0.100000
Angara Airlines Flight 5007    1                    0.100000
Caribbean Airlines             1                    0.100000
First Air Flight               1                    0.100000
Buddha Air Flight 103          1                    0.100000
Iran Air Flight 742            1                    0.100000
Bhoja Air Flight 213           1                    0.100000
the Agni Air Flight CHT        1                    0.100000
Allied Air Flight              1                    0.100000
Dana Air Flight 992            1                    0.100000
Tianjin Airlines               1                    0.100000
Air Flight                     1                    0.100000
Sita Air Flight 601            1                    0.100000
Air Bagan Flight               1                    0.100000
Red Wings Airlines             1                    0.100000
SCAT Airlines                  1                    0.100000
South Airlines                 1                    0.100000
Lion Air Flight 904            1                    0.100000
Rediske Air                    1                    0.100000
Lao Airlines Flight 301        1                    0.100000
Tatarstan Airlines             1                    0.100000
LAM Mozambique Airlines        1                    0.100000
Air Algérie Flight 5017        1                    0.100000
Air Algérie                    1                    0.100000
Sepahan Airlines               1                    0.100000
Trigana Air Service            1                    0.100000
Ceiba Intercontinental Airlines 1                    0.100000
West Air Sweden Flight 294     1                    0.100000
Daallo Airlines                1                    0.100000
Tara Air Flight 193            1                    0.100000
Viking Air-                    1                    0.100000
Batik Air Flight 7703          1                    0.100000
ASL Airlines                   1                    0.100000
LaMia Airlines                 1                    0.100000
South Supreme Airlines         1                    0.100000

If we only want to see the top few results, we can set up threshold.

In [52]:
koko.run('./koko_queries/airlines_v3.koko', doc_parser='spacy')

Parsed query: extract "/Users/chen/Research/Code/BigGorilla-assignments/Koko/data/aviation_incidents_cleaned.txt" Ents from "x" if
	(str(x) contains "Airlines" { 0.10 }) or
	(str(x) contains "Air" { 0.10 })
with threshold 0.40


Results:

Entity name                    Entity count         Entity score
======================================================================
United Airlines                27                   1.000000
American Airlines              25                   1.000000
Northwest Airlines             11                   1.000000
Eastern Air Lines              16                   1.000000
Air France                     15                   1.000000
Japan Airlines                 11                   1.000000
China Airlines                 11                   1.000000
National Airlines              7                    0.700000
Northwest Orient Airlines      7                    0.700000
Philippine Airlines            7                    0.700000
Indian Airlines                7                    0.700000
Merpati Nusantara Airlines     6                    0.600000
Continental Airlines           5                    0.500000
Pakistan International Airlines 5                    0.500000
Air Canada                     5                    0.500000
Delta Air Lines                5                    0.500000
Southwest Airlines             5                    0.500000
United Arab Airlines           4                    0.400000
Allegheny Airlines             4                    0.400000
Asiana Airlines                4                    0.400000

We can also see the original texts.import koko
import spacy

koko.run('./koko_queries/airlines_v2.koko', doc_parser='spacy')

In [54]:
koko.run('./koko_queries/airlines_v3.koko', doc_parser='spacy', verbose_info=True)

Parsed query: extract "/Users/chen/Research/Code/BigGorilla-assignments/Koko/data/aviation_incidents_cleaned.txt" Ents from "x" if
	(str(x) contains "Airlines" { 0.10 }) or
	(str(x) contains "Air" { 0.10 })
with threshold 0.40


Results:

Entity name                    Entity count         Entity score
======================================================================
United Airlines                27                   1.000000
	 October 7, 1935, United Airlines Trip 4, a Boeing 247D, crashes near Silver Crown, Wyoming, United States, due to pilot error; all 12 on board die.


	 December 27, 1936, United Airlines Trip 34, a Boeing 247, crashes at Rice Canyon (near Newhall, California, United States) due to pilot error, killing all 12 on board.


	 May 29, 1947, United Airlines Flight 521, a Douglas DC-4, crashes on takeoff from LaGuardia Airport, New York, United States, due to pilot error; 42 of 48 on board die.


	 October 24, 1947, United Airlines Flight 608, a Douglas DC-6, crashes near Bryce Canyon Airport, Utah, United States, when fire caused by a design flaw destroys the aircraft; all 52 on board die in the first hull loss of the DC-6.
October 26, 1947, Pan Am Flight 923, a Douglas DC-4, struck Tamgas Mountain on Annette Island, Alaska, killing all 18 passengers and crew on board; the cause is never determined.


	 June 17, 1948, United Airlines Flight 624, a Douglas DC-6, crashes near Mount Carmel, Pennsylvania, after errors in attempting to extinguish what was believed to have been an onboard fire; all 43 on board die.


	 June 30, 1951, United Airlines Flight 610, a Douglas DC-6, flies into a mountain in Larimer County, Colorado, due to a navigational error; all 45 passengers and five crew members are killed.


	 August 24, 1951, United Airlines Flight 615, a Douglas DC-6B, crashes near Decoto (now Union City, California), while on final approach to Oakland, California; all 44 passengers and six crew members die.


	 October 6, 1955, United Airlines Flight 409, a Douglas DC-4, crashes into Medicine Bow Peak near Centennial, Wyoming, killing all 66 on board.


	 November 1, 1955, United Airlines Flight 629, a Douglas DC-6B, is bombed by Jack Gilbert Graham over Longmont, Colorado; all 44 on board are killed.


	 June 30, 1956, The 1956 Grand Canyon mid-air collision between United Airlines Flight 718, a DC-7 and TWA Flight 2, a Lockheed Constellation, over the Grand Canyon, kills all 128 aboard both aircraft; operating under Visual Flight Rules, the planes fail to see each other and collide; the Federal Aviation Administration is created in the aftermath.


	 April 21, 1958, United Airlines Flight 736, a Douglas DC-7, collides near Las Vegas, Nevada, with a US Air Force F-100 Super Sabre fighter on a training mission.

	 The 1960 New York mid-air collision: United Airlines Flight 826, a Douglas DC-8, and TWA Flight 266, a Lockheed Super Constellation, collide in mid-air over Staten Island in New York; all 128 aboard the two planes and six people on the ground are killed.

	 July 11, 1961, United Airlines Flight 859, a Douglas DC-8, crashes on landing at Stapleton International Airport, killing 17 passengers and one person on the ground.


	 November 23, 1962, United Airlines Flight 297, a Vickers Viscount 745D, crashes near Ellicott City, Maryland, following a bird strike; all 17 people on board die.


	 July 9, 1964, United Airlines Flight 823, a Vickers Viscount, crashes near Parrottsville, Tennessee, after a fire on board; all 39 passengers and crew die.


	 August 16, 1965, United Airlines Flight 389, a Boeing 727, crashes into Lake Michigan at night, after the pilots apparently misread their altimeters; all 24 passengers and six crew perish in the first fatal crash of the Boeing 727.


	 November 11, 1965, United Airlines Flight 227, a Boeing 727, crashes short of the runway during landing at Salt Lake City International Airport, Utah; 43 of 91 aboard are killed.


	 January 18, 1969, United Airlines Flight 266, a Boeing 727, en route from Los Angeles to Milwaukee loses all electrical power and crashes into Santa Monica Bay; six crew and 32 passengers are killed.


	 December 8, 1972, United Airlines Flight 553, a Boeing 737, crashes after aborting its landing attempt at Chicago Midway International Airport, killing 43 of 60 people on board and two people on the ground; among those killed was Dorothy Hunt, wife of Watergate conspirator E. Howard Hunt.

	 December 17, 1977, United Airlines Flight 2860, a Douglas DC-8, crashes in the Wasatch Range in Utah, killing the three crew on board.


	 December 28, 1978, United Airlines Flight 173, a Douglas DC-8, runs out of fuel while circling near Portland, Oregon, United States, as the crew investigates a light indicating a problem with the landing gear; the plane crashes in a suburban area damaging two unoccupied houses, killing 10 and injuring 24 of the 181 on board.


	 February 24, 1989, United Airlines Flight 811, a Boeing 747, suffers an explosive decompression shortly after takeoff from Honolulu, Hawaii, United States, caused by a cargo door that burst open during flight.

	 July 19, 1989, United Airlines Flight 232, a McDonnell Douglas DC-10, suffers a complete hydraulic system failure over Iowa, United States, after the tail-mounted engine disintegrates.

	 March 3, 1991, United Airlines Flight 585, a Boeing 737, crashes while attempting to land at Colorado Springs Airport, Colorado, killing all 25 people on board.

	 December 28, 1997, United Airlines Flight 826, a Boeing 747, encounters severe turbulence two hours into the flight; the aircraft safely lands back in Tokyo; all survive the accident, but a passenger dies later; despite having no damage, the aircraft is written off.


	 September 11, 2001, United Airlines Flight 175, a Boeing 767-200 with 65 people on board, is hijacked after taking off from Boston and is flown into the south tower of the World Trade Center in New York City; all on board are killed as well as around 900 people on the ground and in the building; the collapse of both towers brings the total death toll from the two crashes to at least 2,763, the worst disaster involving commercial aircraft.


	 September 11, 2001, United Airlines Flight 93, a Boeing 757-200 with 44 people on board, is hijacked after taking off from Newark, New Jersey; passengers struggle with the hijackers, and the aircraft crashes in a field near Shanksville, Pennsylvania, killing all on board.


American Airlines              25                   1.000000
	 January 14, 1936, American Airlines Flight 1, a Douglas DC-2, crashes into a swamp near Goodwin, Arkansas, killing all 17 passengers and crew on board; the cause is never determined.


	 October 23, 1942, American Airlines Flight 28, a Douglas DC-3, crashes near Palm Springs, California, United States, after being struck by a U.S. Army Air Corps Lockheed B-34 bomber; all 12 aboard the airliner die, while the bomber lands safely with minor damage.


	 July 28, 1943, American Airlines Flight 63 (Flagship Ohio), a Douglas DC-3, loses control due to severe turbulence and violent downdrafts and crashes near Trammel, Kentucky, United States, killing 20 out of 22 people on board.


	 October 15, 1943, American Airlines Flight 63 (Flagship Missouri), a DC-3, crashes near Centerville, Tennessee, United States, killing all eight passengers and three crewmembers, after ice formed on its wings and propellers.


	 February 10, 1944, American Airlines Flight 2, a Douglas DC-3, crashes into the Mississippi River between Arkansas and Tennessee, United States, for reasons unknown, killing all 24 occupants (21 passengers and three crew members).


	 November 29, 1949, American Airlines Flight 157, a Douglas DC-6, en route from New York City to Mexico City with 46 passengers and crew, veers off the runway and strikes buildings after the flight crew loses control on final approach to Dallas Love Field; 26 passengers and two flight attendants die.


	 January 22, 1952, American Airlines Flight 6780, a Convair CV-240, crashes on approach to Newark, New Jersey, into dwellings in Elizabeth, New Jersey, killing 30 and leading to the Doolittle Commission recommendation for laws coordinating urban zoning to keep airport approach paths clear.


	 June 28, 1952, American Airlines Flight 910, a Douglas DC-6 carrying 55 passengers and five crew collides with a Temco Swift private plane on final approach to Dallas Love Field, killing both occupants of the Swift; the DC-6 lands safely with no injuries to the passengers or crew.


	 September 16, 1953, American Airlines Flight 723, a Convair 240, crashes while on approach to Albany Airport; all 28 passengers and crew die.


	 February 3, 1959, American Airlines Flight 320, a Lockheed L-188 Super Electra, crashes into the East River, New York City, as a result of pilot error; 65 passengers and crew are killed.


	 March 1, 1962, American Airlines Flight 1, a Boeing 707, crashes in Jamaica Bay, Queens, New York, due to a rudder malfunction, killing all 95 passengers and crew on board.


	 November 8, 1965, American Airlines Flight 383, a Boeing 727, crashes while on approach to Greater Cincinnati airport; of the 62 people on board, one flight attendant and three passengers survive.


	 June 12, 1972, American Airlines Flight 96, a McDonnell Douglas DC-10, suffers explosive depressurisation when one of its cargo doors fails in mid-flight; the crew manages an emergency landing at Detroit Metropolitan Wayne County Airport where all 67 on board are evacuated safely.


	 April 27, 1976, American Airlines Flight 625,

	 May 25, 1979, American Airlines Flight 191, a McDonnell Douglas DC-10, crashes upon takeoff from O'Hare International Airport after its left engine becomes detached from the wing, killing all 271 on board and two on the ground in the worst single-aircraft accident on U.S. soil.


	 November 15, 1979, American Airlines Flight 444, a Boeing 727, takes off with a bomb planted in the cargo hold by the Unabomber.

	 November 12, 1995, American Airlines Flight 1572, a McDonnell Douglas MD-83, shears off treetops on approach, trees ingested into the engine causing them to flame out and shutdown.

	 December 20, 1995, American Airlines Flight 965, a Boeing 757, crashes into a mountain while approaching Alfonso Bonilla Aragón International Airport in Palmira, Colombia, killing 159 of 163 on board.


	 June 1, 1999, American Airlines Flight 1420, a McDonnell Douglas MD-82 with 139 passengers on board, skids off the runway on landing and crashes into a steel walkway at Little Rock, Arkansas during strong winds; 11 are killed, and 86 are injured.


	 September 11, 2001, American Airlines Flight 11, a Boeing 767-200ER with 92 people on board, is hijacked after taking off from Boston, and is flown into the north tower of the World Trade Center in New York City; all on board are killed as well as around 1600 people on the ground and in the building; the collapse of both towers brings the total death toll from the two crashes to at least 2,763, the worst disaster involving commercial aircraft.


	 September 11, 2001, American Airlines Flight 77, a Boeing 757-200 with 64 people on board, is hijacked after taking off from Dulles International Airport and is flown into The Pentagon; all on board are killed as well as 125 people in the building and on the ground.


	 November 12, 2001, American Airlines Flight 587, an Airbus A300, crashes into a Queens neighborhood in New York City when the plane's vertical tail fin snaps just after takeoff.

	 December 22, 2001, On board American Airlines Flight 63, a Boeing 767, a passenger, Richard Reid, attempts to detonate explosives hidden in his shoes, but fails and is subdued by two flight attendants and passengers.

	 December 22, 2009, American Airlines Flight 331, a Boeing 737-800 from Miami International Airport overruns the runway at Norman Manley International Airport, Kingston, Jamaica; there are 40 injuries and no fatalities.


	 October 28, 2016, American Airlines Flight 383, a Boeing 767-300ER, suffers an uncontained engine failure and fire at Chicago O'Hare Airport.

Northwest Airlines             11                   1.000000
	 January 10, 1938, Northwest Airlines Flight 2, a Lockheed L14H Super Electra, crashes near Bozeman, Montana, United States, killing all 10 on board;

	 January 13, 1939, Northwest Airlines Flight 1, a Lockheed L14H Super Electra, crashes on descent to Miles City, Montana, United States, killing all four on board; the aircraft's cross-feed fuel valve leaked fuel into the cockpit and an intense fire broke out.


	 March 12, 1948, Northwest Airlines Flight 4422, a Douglas C-54 Skymaster, crashes into Mount Sanford in the Alaska Territory, killing 30.

	 August 29, 1948, Northwest Airlines Flight 421, a Martin 2-0-2, crashes near Winona, Minnesota, due to structural failure of a wing, killing all 37 on board in the worst ever accident involving the Martin 2-0-2.

	 August 16, 1987, Northwest Airlines Flight 255, an McDonnell Douglas MD-82, crashes on takeoff from Detroit as a result of pilot error.

	 January 4, 1990, Northwest Airlines Flight 5, a Boeing 727 with 145 on board, loses an engine over Madison, Florida, the aircraft makes an emergency landing at Tampa International Airport, all on board survive.


	 December 3, 1990, Northwest Airlines Flight 1482, a McDonnell Douglas DC-9, collides with Northwest Airlines Flight 299, a Boeing 727, when the crew of the DC-9 mistakenly taxies onto the active runway at Detroit Metropolitan Wayne County Airport; eight of the 54 people on board the DC-9 are killed; all 154 people on board the Boeing 727 survive.


	 December 3, 1990, Northwest Airlines Flight 1482, a McDonnell Douglas DC-9, collides with Northwest Airlines Flight 299, a Boeing 727, when the crew of the DC-9 mistakenly taxies onto the active runway at Detroit Metropolitan Wayne County Airport; eight of the 54 people on board the DC-9 are killed; all 154 people on board the Boeing 727 survive.


	 June 6, 1994, China Northwest Airlines Flight 2303, a Tupolev Tu-154M, breaks up in mid-air and crashes near Xian, China, killing all 160 on board.

	 October 9, 2002, Northwest Airlines Flight 85, a Boeing 747, experienced a rudder hardover.

	 December 25, 2009, Northwest Airlines Flight 253,

Eastern Air Lines              16                   1.000000
	 February 26, 1941, Eastern Air Lines Flight 21, a Douglas DC-3, crashes while descending to land at Atlanta, Georgia, United States, killing eight of 16 aboard;

	 World War I hero and Eastern Air Lines president Eddie Rickenbacker is among the survivors.


	 Eastern Air Lines Flight 45, a Douglas DC-3A, collides with a Douglas A-26 Invader over Florence, South Carolina, United States.

	 January 12, 1947, Eastern Air Lines Flight 665

	 May 30, 1947, Eastern Air Lines Flight 605, a Douglas DC-4, loses control and crashes near Bainbridge, Maryland, United States, killing all 53 passengers and crew on board in the deadliest airliner crash in United States history at the time.


	 November 1, 1949, Eastern Air Lines Flight 537, a Douglas DC-4, on approach to Washington National Airport, suffers a mid-air collision with a Lockheed P-38; all 55 people on board the DC-4 die, including Congressman George J. Bates, New Yorker cartoonist Helen E. Hokinson, and former Congressman Michael J. Kennedy; the pilot and sole occupant of the P-38 is seriously injured.


	 October 4, 1960, Eastern Air Lines Flight 375, a Lockheed L-188 Super Electra, crashes on takeoff from Boston's Logan International Airport into Winthrop Bay, after multiple bird strikes; 62 of 72 aboard die.


	 November 30, 1962, Eastern Air Lines Flight 512, a Douglas DC-7B, crashes as a result of pilot error during a missed approach at New York's Idlewild Airport; 25 of 51 on board are killed.


	 February 25, 1964, Eastern Air Lines Flight 304, a Douglas DC-8 flying from New Orleans International Airport to Washington National Airport, crashes into Lake Pontchartrain, killing all 51 passengers and seven crew aboard.


	 February 8, 1965, Eastern Air Lines Flight 663, a Douglas DC-7B on takeoff, overreacts in avoiding Pan Am Flight 212 (a Boeing 707) on approach, loses control, and crashes into the ocean several miles off Jones Beach State Park, New York, killing all 84 on board.


	 ; Eastern Air Lines Flight 853, a Lockheed Super Constellation, collides with TWA Flight 42, a Boeing 707 over Carmel, New York.

	 December 29, 1972, Eastern Air Lines Flight 401, a Lockheed L-1011 TriStar, crashes in the Florida Everglades, killing 101 of 176 people on board; the crew is distracted by a faulty gear-down light, resulting in controlled flight into terrain; this is the first crash of a widebody aircraft and the first loss of a Lockheed Tristar.


	 September 11, 1974, Eastern Air Lines Flight 212, a McDonnell Douglas DC-9, crashes on approach to Charlotte, North Carolina; 72 of 82 people on board are killed.


	 Eastern Air Lines Flight 66, a Boeing 727, encounters wind shear on final approach and strikes approach lights at John F. Kennedy International Airport, killing 113 of 124 people on board.


	 May 5, 1983, Eastern Air Lines Flight 855, a Lockheed L-1011 Tristar, loses power from all engines 30 minutes after takeoff from Miami International Airport; the pilot is able to return to Miami after restarting one engine; no casualties are reported on board.


	 January 1, 1985, Eastern Air Lines Flight 980, a Boeing 727, impacts Mount Illimani in Bolivia, killing all 29 people on board.


Air France                     15                   1.000000
	 June 12, 1950, An Air France Douglas DC-4 (F-BBDE) on a flight from Saigon to Paris crashes in the Arabian Sea while on approach to Bahrain Airport, killing 46 of 52 on board.


	 June 14, 1950, An Air France Douglas DC-4, F-BBDM, crashes in the Arabian Sea while on approach to Bahrain Airport, killing 40 of 53 on board.

	 August 3, 1953, Air France Flight 152,

	 September 1, 1953, Air France Flight 178, a Lockheed Constellation, crashes into a mountain in southern France; all 42 on board are killed.


	 May 10, 1961, Air France Flight 406, a Lockheed Starliner, crashes into the Sahara Desert near the Edjele oilfield in Algeria after a bomb goes off on board.

	 June 3, 1962, Air France Flight 007, a chartered Boeing 707, overruns the runway on takeoff and burns down after the pilot rejected takeoff, killing many of Atlanta, Georgia's civic and cultural leaders; two flight attendants are the only survivors, as 130 die in the worst single-aircraft accident to that date.


	 June 22, 1962, Air France Flight 117,

	 March 6, 1968, Air France Flight 212,

	 June 27, 1976, Air France Flight 139, an Airbus A300, is hijacked from Athens by two Palestinians and two Germans who divert the flight to Libya and then to Uganda, where the plane is met by pro-Palestinian forces from Idi Amin's government; Israeli troops eventually storm the airport in Operation Entebbe, killing hijackers and Ugandan soldiers and freeing all but three of the hostages; Israeli colonel Yonatan Netanyahu, brother of Benjamin Netanyahu, is also killed in the raid.


	 June 26, 1988, Air France Flight 296, an Airbus A320, makes a low pass over Mulhouse-Habsheim Airport in landing configuration during an air show and crashes into trees at the end of the runway.

	 April 20, 1998, Air France Flight 422,

	 July 25, 2000, Air France Flight 4590, a Concorde crashes during takeoff from Paris, France, after striking debris on the runway, killing all 100 passengers and nine crew aboard as well as four on the ground; the entire Concorde fleet is grounded for one year.



# Dump the output to JSON

# Post-process the output

For example, merge different "Air France"

# 4. Data transformation

Task: transform Koko's json output to dataframe  
Tools: Python (read_json)  
Grading metrics: autograder would load the dataframe and do some checking, e.g., shape.  
Comments: is this part too simple?