# Introduction

The aviation field is concerned with safety of airplanes and is doing their best to understand the reason for any potential incidents.  
In this mini-tutorial, suppose you are invited by the aviation authority to analyze all the history aviation incidents.  
Hopefully the results could help reveal potential problems, build more robust aircraft, and impose more effective regulation.  

In the meanwhile, you will learn a variety of data analytical tools, mostly Python-based, by applying them to real data extracted from the Web.

** This mini-tutorial is composed of three parts: **
1. Data extraction: scrape the website about aviation incidents.
2. Data cleaning: clean the extracted data by removing irrelevant information.
4. Entity recognition: use an entity extraction tool Koko, to extract entities from scraped data.
5. Data transformation: convert the unstructured text data into dataframes.

# 1. Data acquisition

To acquire data, we first need to scrape the text data about aviation incidents from the following Wiki page:  
https://en.wikipedia.org/wiki/List_of_accidents_and_incidents_involving_commercial_aircraft

A number of Python-based tools can be used to scrape the Web, such as [BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/) or [Scrapy](https://scrapy.org/).  
Here we use BeautifulSoup for our purpose.  
Suppose we already save the Wiki website as an HTML file. The following code create parse the html file and generate a BeautifulSoup object.

In [1]:
from bs4 import BeautifulSoup

input_html = "./data/aircraft_incidents.htm"
with open(input_html, "r") as ifile:
    soup = BeautifulSoup(ifile, 'lxml')
    
soup.title.string

'List of accidents and incidents involving commercial aircraft - Wikipedia'

**Task:** Use BeautifulSoup to scrape the Wiki website at https://en.wikipedia.org/wiki/List_of_accidents_and_incidents_involving_commercial_aircraft, and generate a text file containing all the text on the website. The generated file should not contain any html tag.

In [2]:
output_fname = "./data/aviation_incidents_raw_texts.txt"

# Write your code here. Store the output text in output_fname#

The following code will check if the generated text file satisfy the requirement.

In [3]:
import re

with open(output_fname, "r") as ifile:
    # Check if all tags have been removed
    doc = ifile.read()
    result = re.search(r"<.*>", doc)
    if result:
        print("Error: \n{}".format(result.string))
    else:
        print("No tag found!")

No tag found!

# 2. Data Cleaning

You may notice that the extracted data is not very organized.  
Our next step is to clean the extracted data, so that it can be used for further analysis.

Here's a sample of how a cleaned version should look like:

In [4]:
with open('./data/aviation_incidents_cleaned.txt') as ifile:
    for i in range(5):
        print(ifile.readline())

July 21, 1919, The Goodyear dirigible Wingfoot Air Express catches fire and crashes into the Illinois Trust and Savings Building in Chicago, Illinois, while carrying passengers to a local amusement park, killing thirteen people: three out of the five on board and ten others on the ground, with 27 others on the ground being injured.

August 2, 1919, A Caproni Ca.48 crashes at Verona, Italy, during a flight from Venice to Taliedo, Milan, killing all on board (14, 15, or 17 people, according to different sources).

December 14, 1920, A Handley Page Transport Handley Page O/400 hits a tree and crashes at Golders Green, London, after failing to gain height following takeoff, killing four out of eight on board.

April 7, 1922, In the first mid-air collision of airliners, a de Havilland DH.18A, G-EAWO, operated by Daimler Hire Ltd., collides with a Farman F.60 Goliath, F-GEAD, operated by Compagnie des Grands Express Aériens (CGEA), over the Thieulloy-St. Antoine road near Picardie, France, killing all seven people on both aircraft.

May 14, 1923, An Air Union Farman F.60 Goliath crashes near Monsures, Somme, France, due to the structural failure of a wing, killing all six on board.

There are a variety of ways to clean the documents. Here we give one example.  

* Extract the data that are related to aviation incidents.
* Clean the extracted data segment, by embedding the year information into each incident and removing em dashes that could cause trouble in follow-up analysis.

## Extract incident-related texts

In [5]:
with open('./data/aviation_incidents_raw_texts.txt') as ifile:
    with open('./data/aviation_incidents_select.txt', 'w+') as ofile:
        to_record = False
        for line in ifile:
            cleaned_line = line.rstrip()
            if not cleaned_line:
                continue
            
            if 'References' in line:
                break
                
            if 'See also' in line:
                to_record = True
                continue
        
            if to_record == True:
                ofile.write(line)

Let's take a glimpse of the output file.

In [6]:
with open('./data/aviation_incidents_select.txt') as myfile:
    head = [next(myfile) for x in range(10)]
head

['1910s and 1920s[edit]\n',
 '1919[edit]\n',
 'July 21 – The Goodyear dirigible Wingfoot Air Express catches fire and crashes into the Illinois Trust and Savings Building in Chicago, Illinois, while carrying passengers to a local amusement park, killing thirteen people: three out of the five on board and ten others on the ground, with 27 others on the ground being injured.\n',
 'August 2 – A Caproni Ca.48 crashes at Verona, Italy, during a flight from Venice to Taliedo, Milan, killing all on board (14, 15, or 17 people, according to different sources).\n',
 '1920[edit]\n',
 'December 14 – A Handley Page Transport Handley Page O/400 hits a tree and crashes at Golders Green, London, after failing to gain height following takeoff, killing four out of eight on board.\n',
 '1922[edit]\n',
 'April 7 – In the first mid-air collision of airliners, a de Havilland DH.18A, G-EAWO, operated by Daimler Hire Ltd., collides with a Farman F.60 Goliath, F-GEAD, operated by Compagnie des Grands Express Aériens (CGEA), over the Thieulloy-St. Antoine road near Picardie, France, killing all seven people on both aircraft.\n',
 '1923[edit]\n',
 'May 14 – An Air Union Farman F.60 Goliath crashes near Monsures, Somme, France, due to the structural failure of a wing, killing all six on board.\n']

## Clean the extracted segment

Right now the year information is listed independently at the beginning of a series of incidents.  
Let's embedd each year into the follow-up incidents, to make each incident more informative.

For example, if we have:  
* "1920\[edit\]:  
December 14 – A Handley Page Transport Handley Page O/400 hits a tree and crashes at Golders Green, London, after failing to gain height following takeoff, killing four out of eight on board." *

We will remove "1920\[edit\]:", and add "1920" as part of the incident, to have:

* "On December 14, 1920 – A Handley Page Transport Handley Page O/400 hits a tree and crashes at Golders Green, London, after failing to gain height following takeoff, killing four out of eight on board."  *

In [7]:
def represent_int(s):
    try:
        int(s)
        return True
    except ValueError:
        return False

with open('./data/aviation_incidents_select.txt' ) as ifile:
     with open('./data/aviation_incidents_cleaned.txt', 'w') as ofile:
        year = 0
        for line in ifile:
            cleaned_line = line.replace('[edit]', '')
            proc_line = cleaned_line.rstrip()
            if represent_int(proc_line):
                # The line represents a year
                year = int(proc_line)
                continue
            else:
                months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 
                          'August', 'September', 'October', 'November', 'December']
                month_pattern = '|'.join(months)
                if re.search(month_pattern, proc_line):
                    match_obj = re.search(r"[0-9]\s.\s", proc_line)
                    if match_obj:
                        replace_text = ", " + str(year) + ", "
                        newline = proc_line.replace(match_obj.group()[1:], replace_text)
                        ofile.write(newline+'\n')

Let's take a look at the results.

In [8]:
with open('./data/aviation_incidents_cleaned.txt') as myfile:
    head = [next(myfile) for x in range(5)]
head

['July 21, 1919, The Goodyear dirigible Wingfoot Air Express catches fire and crashes into the Illinois Trust and Savings Building in Chicago, Illinois, while carrying passengers to a local amusement park, killing thirteen people: three out of the five on board and ten others on the ground, with 27 others on the ground being injured.\n',
 'August 2, 1919, A Caproni Ca.48 crashes at Verona, Italy, during a flight from Venice to Taliedo, Milan, killing all on board (14, 15, or 17 people, according to different sources).\n',
 'December 14, 1920, A Handley Page Transport Handley Page O/400 hits a tree and crashes at Golders Green, London, after failing to gain height following takeoff, killing four out of eight on board.\n',
 'April 7, 1922, In the first mid-air collision of airliners, a de Havilland DH.18A, G-EAWO, operated by Daimler Hire Ltd., collides with a Farman F.60 Goliath, F-GEAD, operated by Compagnie des Grands Express Aériens (CGEA), over the Thieulloy-St. Antoine road near Picardie, France, killing all seven people on both aircraft.\n',
 'May 14, 1923, An Air Union Farman F.60 Goliath crashes near Monsures, Somme, France, due to the structural failure of a wing, killing all six on board.\n']

# 3. Entity recognition

Now we are ready to extract interesting and useful information from the cleaned corpus.  

We first create a word cloud as warm-up exercise, and get a general sense of the distribution of words in the corpus.  
Then we will use Koko, an entity extraction tool, to extract airlines and aircrafts from the corpus.

## Word Cloud

The following code generates a wordcloud out of the cleaned corpus.  

Note that we remove common aviation-related words, such as airlines or flight, as they are less informative.

In [9]:
import matplotlib.pyplot as plt
from wordcloud import WordCloud, ImageColorGenerator

LIMIT_WORDS = ['airlines flight', 'flight', 'people', 'board', 'international airport', 
               'passenger', 'crew', 'airport', 'aircraft', 'near', 'crash', 'killed']

with open('./data/aviation_incidents_cleaned.txt') as myfile:
    doc = myfile.read()
text = doc.lower()
for w in LIMIT_WORDS:
    text = text.replace(' ' + w, '')
    text = text.replace(w + ' ', '')
wordcloud = WordCloud(background_color="white", font_path='../../../Library/Fonts/Arial.ttf', \
                          height=2700, width=3600).generate(text)
plt.figure( figsize=(14,8) )
plt.imshow(wordcloud.recolor(colormap=plt.get_cmap('Set2')), interpolation='bilinear')
plt.axis("off")

(-0.5, 3599.5, 2699.5, -0.5)

What conclusion can you get from the wordcloud?

## Named Entity Extration

Now suppose we are interested in knowing which airline company has the most incidents.  
How can we get the information from the corpus?  

There are a number of Python-based tools that can extract entities like airline names from text, such as [NLTK](http://www.nltk.org/), [spaCy](https://spacy.io/), [Google NLP](https://cloud.google.com/natural-language/).  
Though these tools are powerful, they do not provide declarative APIs that allow users to extract entities with customed conditions.  
Here we will introduce an entity extraction framework called Koko, which allows the user to specify properties of the extracted entities in a declarative way, and is especially suitable for extracting entities with little evidence in the corpus.

In [10]:
with open('./koko_queries/airlines_v2.koko', 'r') as file:
    print(file.read())

extract "Ents" x from "/Users/chen/Research/Code/BigGorilla-assignments/Koko/data/aviation_incidents_cleaned.txt" if
	(str(x) contains "Airlines" {0.1}) or
	(str(x) contains "Air" {0.1})
with threshold 0.0

This query tells Koko to extract entities 'x' from our cleaned aviation data if "x" contains either "Airlines" or "Air".

The weight in each "if" condition (e.g., {0.1} for (str(x) contains "Airlines")) represents the importance of the pattern specified in the condition.
Any appearance of an entity in the data that matches the pattern is considered a piece of evidence.
And each such piece of evidence would increment the entity's score by the condition's weight.

For example, if there's an incident "An Air France flight encountered an emergency situation", this incident is considered as evidence for "Air France" based on the second condition, and 0.1 is added to "Air France"'s score.
In Koko, the score of an entity is at most 1.

Finally, we can specify a threshold in Koko queries.
Only entities scoring higher than the thresold would be returned in the results.
For simplicity, we now put zero as thresold here, which shows all entities that have at least one piece of evidence in the data.

You can find more details about Koko[here](http://pykoko.readthedocs.io/en/latest/).

Let's run the Koko query now to see the results.

Here I use spaCy as the nlp processor for happy moments. Koko could leverage spaCy's APIs for entity extraction.
The extracted entities could be further matched against the conditions in the Koko query to get scored, ranked and filtered.

SpaCy is not the only option. We can also use Koko's default parser or Google NLP API as well.

In [11]:
import koko
import spacy

koko.run('./koko_queries/airlines_v2.koko', doc_parser='spacy')

Parsed query: extract "/Users/chen/Research/Code/BigGorilla-assignments/Koko/data/aviation_incidents_cleaned.txt" Ents from "x" if
	(str(x) contains "Airlines" { 0.10 }) or
	(str(x) contains "Air" { 0.10 })
with threshold 0.00


Results:

Entity name                    Entity count         Entity score
======================================================================
United Airlines                27                   1.000000
American Airlines              25                   1.000000
Northwest Airlines             11                   1.000000
Eastern Air Lines              16                   1.000000
Air France                     15                   1.000000
Japan Airlines                 11                   1.000000
China Airlines                 11                   1.000000
National Airlines              7                    0.700000
Northwest Orient Airlines      7                    0.700000
Philippine Airlines            7                    0.700000
Indian Airlines                7                    0.700000
Merpati Nusantara Airlines     6                    0.600000
Continental Airlines           5                    0.500000
Pakistan International Airlines 5                    0.500000
Air Canada                     5                    0.500000
Delta Air Lines                5                    0.500000
Southwest Airlines             5                    0.500000
United Arab Airlines           4                    0.400000
Allegheny Airlines             4                    0.400000
Asiana Airlines                4                    0.400000
An Air Union                   3                    0.300000
Pennsylvania Central Airlines  3                    0.300000
Canadian Pacific Air Lines     3                    0.300000
Trans-Canada Air Lines         3                    0.300000
Northeast Airlines             3                    0.300000
Capital Airlines               3                    0.300000
Ariana Afghan Airlines         3                    0.300000
Air France Flight              3                    0.300000
Mohawk Airlines                3                    0.300000
Iberia Airlines                3                    0.300000
North Central Airlines         3                    0.300000
Korean Air Flight              3                    0.300000
China Southwest Airlines       3                    0.300000
Southern Airlines              3                    0.300000
Singapore Airlines             3                    0.300000
China Eastern Airlines         3                    0.300000
An Air Union Blériot           2                    0.200000
Norwegian Air Lines            2                    0.200000
Scandinavian Airlines System   2                    0.200000
MacRobertson Miller Airlines   2                    0.200000
Air India Flight 245           2                    0.200000
Piedmont Airlines              2                    0.200000
Ethiopian Airlines             2                    0.200000
Middle East Airlines           2                    0.200000
Alaska Airlines                2                    0.200000
Libyan Arab Airlines           2                    0.200000
Ozark Air Lines                2                    0.200000
Western Airlines               2                    0.200000
Pacific Western Airlines       2                    0.200000
Korean Air Lines               2                    0.200000
Air Rhodesia Flight            2                    0.200000
Air Force                      2                    0.200000
Cameroon Airlines              2                    0.200000
Skywest Airlines               2                    0.200000
Mandala Airlines               2                    0.200000
China Northern Airlines        2                    0.200000
Air Algérie Flight             2                    0.200000
Azerbaijan Airlines            2                    0.200000
ADC Airlines                   2                    0.200000
UPS Airlines                   2                    0.200000
Nepal Airlines                 2                    0.200000
Malaysia Airlines              2                    0.200000
Air Kasthamandap               2                    0.200000
Silk Way Airlines              2                    0.200000
Wingfoot Air Express           1                    0.100000
A Transcontinental & Western Air Fokker 1                    0.100000
The United Airlines            1                    0.100000
An Air France Wibault          1                    0.100000
Western Air Express            1                    0.100000
Naval Air Engineering Station  1                    0.100000
U.S. Army Air Corps            1                    0.100000
An American Overseas Airlines  1                    0.100000
Air                            1                    0.100000
Air Force Yakovlev             1                    0.100000
Air France Latécoère           1                    0.100000
Queensland Airlines            1                    0.100000
Italian Airlines               1                    0.100000
Standard Air Lines Flight      1                    0.100000
An Air France Lockheed Constellation 1                    0.100000
Air India Flight               1                    0.100000
A Canadian Pacific Air Lines Douglas 1                    0.100000
Miami Airlines                 1                    0.100000
An Air France SNCASE Languedoc 1                    0.100000
Transocean Air Lines Flight 512 1                    0.100000
United Airlines Douglas        1                    0.100000
An Air India Lockheed L-749 Constellation 1                    0.100000
Scottish Airlines              1                    0.100000
US Air Force                   1                    0.100000
Dan-Air                        1                    0.100000
An Independent Air Travel Vickers 1                    0.100000
Italian Air Force              1                    0.100000
Southeast Airlines             1                    0.100000
Turkish Airlines Gatwick       1                    0.100000
Air Charter                    1                    0.100000
Trans Australia Airlines       1                    0.100000
Austrian Airlines              1                    0.100000
Airlines Douglas               1                    0.100000
Imperial Airlines              1                    0.100000
Turkish Air Force              1                    0.100000
Eagle International Airlines   1                    0.100000
Pacific Air Lines              1                    0.100000
Civil Air Transport Flight     1                    0.100000
Bonanza Air Lines              1                    0.100000
Air India Flight 101           1                    0.100000
Canadian Pacific Air Lines Flight 402 1                    0.100000
West Coast Airlines            1                    0.100000
Varig Airlines Flight 837      1                    0.100000
Globe Air-                     1                    0.100000
Mohawk Airlines Flight 40      1                    0.100000
Seaboard World Airlines        1                    0.100000
BKS Air Transport Heathrow     1                    0.100000
Air France Flight 1611         1                    0.100000
Wien Consolidated Airlines     1                    0.100000
Hawthorne Nevada Airlines      1                    0.100000
Far Eastern Air Transport Flight 104 1                    0.100000
Air Force Antonov An-12        1                    0.100000
Dan-Air de Havilland Comet     1                    0.100000
Toa Domestic Airlines          1                    0.100000
Air Wisconsin Flight           1                    0.100000
Uruguayan Air Force            1                    0.100000
Ansett Airlines                1                    0.100000
Delta Airlines                 1                    0.100000
Châteaubernard Air Base        1                    0.100000
Invicta International Airlines 1                    0.100000
Japan Air Lines                1                    0.100000
Texas International Airlines   1                    0.100000
Air Vietnam Flight             1                    0.100000
Golden West Airlines           1                    0.100000
Air Maroc                      1                    0.100000
Royal Jordanian Airlines       1                    0.100000
Wien Air                       1                    0.100000
Air Manila Flight              1                    0.100000
Czechoslovakia Airlines        1                    0.100000
Dan-Air Boeing                 1                    0.100000
Arab Airlines                  1                    0.100000
Air India Flight 855           1                    0.100000
Icelandic Airlines             1                    0.100000
Air New England                1                    0.100000
Dan-Air Flight 0034            1                    0.100000
Air New Zealand                1                    0.100000
Iran Air Flight 291            1                    0.100000
Advance Airlines               1                    0.100000
Dan-Air Flight                 1                    0.100000
Florida Commuter Airlines      1                    0.100000
Dan-Air Flight 240             1                    0.100000
Somali Airlines                1                    0.100000
Far Eastern Air Transport Flight 103 1                    0.100000
Air Florida Flight 90          1                    0.100000
Air India Flight 403           1                    0.100000
Air Canada Flight              1                    0.100000
Gulf Air Flight                1                    0.100000
Air Illinois Flight            1                    0.100000
TAAG Angola Airlines Boeing    1                    0.100000
Biman Bangladesh Airlines      1                    0.100000
Galaxy Airlines                1                    0.100000
Air Force Antonov An-26        1                    0.100000
Air India Flight 182           1                    0.100000
Bar Harbor Airlines            1                    0.100000
Bakhtar Afghan Airlines        1                    0.100000
Midwest Express Airlines       1                    0.100000
Arrow Air Flight 1285          1                    0.100000
Yakutsk United Air Group       1                    0.100000
Air Lanka Flight 512           1                    0.100000
Grand Canyon Airlines          1                    0.100000
Pacific Southwest Airlines     1                    0.100000
Aloha Airlines                 1                    0.100000
Iran Air Flight 655            1                    0.100000
Vietnam Airlines               1                    0.100000
Uganda Airlines                1                    0.100000
Independent Air Flight 1851    1                    0.100000
Air Ontario                    1                    0.100000
Korean Air Flight 803          1                    0.100000
Xiamen Airlines                1                    0.100000
Lauda Air Flight 004           1                    0.100000
L'Express Airlines             1                    0.100000
Air Inter                      1                    0.100000
Copa Airlines                  1                    0.100000
Libyan Air Force               1                    0.100000
Iran Air Tours                 1                    0.100000
Palair Macedonian Airlines     1                    0.100000
Shemya Air Force Base          1                    0.100000
Japan Air System               1                    0.100000
China Northwest Airlines       1                    0.100000
A Tajik Air Yakovlev Yak-40    1                    0.100000
Baikal Airlines                1                    0.100000
Royal Air Maroc Flight 630     1                    0.100000
Vanavara Air Disaster          1                    0.100000
Cheremshanka Airlines          1                    0.100000
Air St. Martin Beech 1900      1                    0.100000
Banat Air Flight 166           1                    0.100000
Air Africa                     1                    0.100000
Eastwind Airlines              1                    0.100000
Spair Airlines                 1                    0.100000
Vnukovo Airlines               1                    0.100000
Saudi Arabian Airlines         1                    0.100000
Air Kazakhstan Flight          1                    0.100000
Beechcraft King Air            1                    0.100000
Ethiopian Airlines Flight 961  1                    0.100000
Sempati Air Flight 304         1                    0.100000
Formosa Airlines               1                    0.100000
Vietnam Airlines Flight 815    1                    0.100000
Royal Brunei Airlines          1                    0.100000
Tajikistan Airlines            1                    0.100000
TAME Airlines                  1                    0.100000
Peruvian Air Force             1                    0.100000
MIAT Mongolian Airlines        1                    0.100000
Proteus Airlines               1                    0.100000
Air Cargo Flight               1                    0.100000
Air Philippines                1                    0.100000
Wuhan Airlines                 1                    0.100000
Alliance Air Flight 7412       1                    0.100000
Gulf Air Flight 072            1                    0.100000
Dirgantara Air Service         1                    0.100000
Vladivostok Air Flight         1                    0.100000
Air Transat Flight 236         1                    0.100000
Siberia Airlines Flight 1812   1                    0.100000
Lion Air Flight 386            1                    0.100000
Iran Air Tours Flight 956      1                    0.100000
Air China                      1                    0.100000
EAS Airlines                   1                    0.100000
Prestige Airlines              1                    0.100000
Laoag International Airlines   1                    0.100000
Air Midwest Flight 5481        1                    0.100000
UM Airlines                    1                    0.100000
Flash Airlines                 1                    0.100000
Kish Air Flight 7170           1                    0.100000
Air Tahoma Flight 185          1                    0.100000
Siberia Airlines               1                    0.100000
MK Airlines                    1                    0.100000
Pinnacle Airlines              1                    0.100000
Corporate Airlines             1                    0.100000
Lion Air Flight 538            1                    0.100000
Kam Air Flight 904             1                    0.100000
Air Transat Flight 961         1                    0.100000
Regional Airlines              1                    0.100000
Kavatshi Airlines              1                    0.100000
An Air Kasai Antonov           1                    0.100000
Bellview Airlines              1                    0.100000
Sosoliso Airlines              1                    0.100000
Air Algérie Flight 2208        1                    0.100000
Iran Air Tours Flight 945      1                    0.100000
Adam Air Flight                1                    0.100000
Air West Flight                1                    0.100000
Adam Air Flight 172            1                    0.100000
Airlines Il-76                 1                    0.100000
Paramount Airlines             1                    0.100000
Free Airlines                  1                    0.100000
TAAG Angola Airlines           1                    0.100000
TAM Airlines                   1                    0.100000
Air Moorea                     1                    0.100000
One-Two-GO Airlines            1                    0.100000
Santa Bárbara Airlines         1                    0.100000
Blue Wing Airlines             1                    0.100000
Yeti Airlines                  1                    0.100000
Colgan Air Flight 3407         1                    0.100000
Caspian Airlines               1                    0.100000
Aria Air Flight                1                    0.100000
Divi Divi Air Flight 014       1                    0.100000
Taban Air Flight 6437          1                    0.100000
Ethiopian Airlines Flight 409  1                    0.100000
the International Federation of Air Line Pilots' Associations 1                    0.100000
Air India Express              1                    0.100000
Agni Air Flight 101            1                    0.100000
Henan Airlines                 1                    0.100000
JS Air                         1                    0.100000
The Zalingei Tarco Airlines    1                    0.100000
Dagestan Airlines              1                    0.100000
A Tara Air de Havilland Canada 1                    0.100000
Iran Air Flight 277            1                    0.100000
The 2011 Pointe-Noire Trans Air Congo An-12 1                    0.100000
Bagram Air Base                1                    0.100000
Angara Airlines Flight 5007    1                    0.100000
Caribbean Airlines             1                    0.100000
First Air Flight               1                    0.100000
Buddha Air Flight 103          1                    0.100000
Iran Air Flight 742            1                    0.100000
Bhoja Air Flight 213           1                    0.100000
the Agni Air Flight CHT        1                    0.100000
Allied Air Flight              1                    0.100000
Dana Air Flight 992            1                    0.100000
Tianjin Airlines               1                    0.100000
Air Flight                     1                    0.100000
Sita Air Flight 601            1                    0.100000
Air Bagan Flight               1                    0.100000
Red Wings Airlines             1                    0.100000
SCAT Airlines                  1                    0.100000
South Airlines                 1                    0.100000
Lion Air Flight 904            1                    0.100000
Rediske Air                    1                    0.100000
Lao Airlines Flight 301        1                    0.100000
Tatarstan Airlines             1                    0.100000
LAM Mozambique Airlines        1                    0.100000
Air Algérie Flight 5017        1                    0.100000
Air Algérie                    1                    0.100000
Sepahan Airlines               1                    0.100000
Trigana Air Service            1                    0.100000
Ceiba Intercontinental Airlines 1                    0.100000
West Air Sweden Flight 294     1                    0.100000
Daallo Airlines                1                    0.100000
Tara Air Flight 193            1                    0.100000
Viking Air-                    1                    0.100000
Batik Air Flight 7703          1                    0.100000
ASL Airlines                   1                    0.100000
LaMia Airlines                 1                    0.100000
South Supreme Airlines         1                    0.100000

If we only want to see the top few results, we can set up threshold.

In [12]:
koko.run('./koko_queries/airlines_v3.koko', doc_parser='spacy')

Parsed query: extract "/Users/chen/Research/Code/BigGorilla-assignments/Koko/data/aviation_incidents_cleaned.txt" Ents from "x" if
	(str(x) contains "Airlines" { 0.10 }) or
	(str(x) contains "Air" { 0.10 })
with threshold 0.40


Results:

Entity name                    Entity count         Entity score
======================================================================
United Airlines                27                   1.000000
American Airlines              25                   1.000000
Northwest Airlines             11                   1.000000
Eastern Air Lines              16                   1.000000
Air France                     15                   1.000000
Japan Airlines                 11                   1.000000
China Airlines                 11                   1.000000
National Airlines              7                    0.700000
Northwest Orient Airlines      7                    0.700000
Philippine Airlines            7                    0.700000
Indian Airlines                7                    0.700000
Merpati Nusantara Airlines     6                    0.600000
Continental Airlines           5                    0.500000
Pakistan International Airlines 5                    0.500000
Air Canada                     5                    0.500000
Delta Air Lines                5                    0.500000
Southwest Airlines             5                    0.500000
United Arab Airlines           4                    0.400000
Allegheny Airlines             4                    0.400000
Asiana Airlines                4                    0.400000

We can also inspect the original texts for each extracted entity.  
To do this, we need to set the parameter "verbose_info" to True when invoking Koko.

In [13]:
koko.run('./koko_queries/airlines_v4.koko', doc_parser='spacy', verbose_info=True)

Parsed query: extract "/Users/chen/Research/Code/BigGorilla-assignments/Koko/data/aviation_incidents_cleaned.txt" Ents from "x" if
	(str(x) contains "Airlines" { 0.01 }) or
	(str(x) contains "Air" { 0.01 })
with threshold 0.26


Results:

Entity name                    Entity count         Entity score
======================================================================
United Airlines                27                   0.270000
	 October 7, 1935, United Airlines Trip 4, a Boeing 247D, crashes near Silver Crown, Wyoming, United States, due to pilot error; all 12 on board die.


	 December 27, 1936, United Airlines Trip 34, a Boeing 247, crashes at Rice Canyon (near Newhall, California, United States) due to pilot error, killing all 12 on board.


	 May 29, 1947, United Airlines Flight 521, a Douglas DC-4, crashes on takeoff from LaGuardia Airport, New York, United States, due to pilot error; 42 of 48 on board die.


	 October 24, 1947, United Airlines Flight 608, a Douglas DC-6, crashes near Bryce Canyon Airport, Utah, United States, when fire caused by a design flaw destroys the aircraft; all 52 on board die in the first hull loss of the DC-6.
October 26, 1947, Pan Am Flight 923, a Douglas DC-4, struck Tamgas Mountain on Annette Island, Alaska, killing all 18 passengers and crew on board; the cause is never determined.


	 June 17, 1948, United Airlines Flight 624, a Douglas DC-6, crashes near Mount Carmel, Pennsylvania, after errors in attempting to extinguish what was believed to have been an onboard fire; all 43 on board die.


	 June 30, 1951, United Airlines Flight 610, a Douglas DC-6, flies into a mountain in Larimer County, Colorado, due to a navigational error; all 45 passengers and five crew members are killed.


	 August 24, 1951, United Airlines Flight 615, a Douglas DC-6B, crashes near Decoto (now Union City, California), while on final approach to Oakland, California; all 44 passengers and six crew members die.


	 October 6, 1955, United Airlines Flight 409, a Douglas DC-4, crashes into Medicine Bow Peak near Centennial, Wyoming, killing all 66 on board.


	 November 1, 1955, United Airlines Flight 629, a Douglas DC-6B, is bombed by Jack Gilbert Graham over Longmont, Colorado; all 44 on board are killed.


	 June 30, 1956, The 1956 Grand Canyon mid-air collision between United Airlines Flight 718, a DC-7 and TWA Flight 2, a Lockheed Constellation, over the Grand Canyon, kills all 128 aboard both aircraft; operating under Visual Flight Rules, the planes fail to see each other and collide; the Federal Aviation Administration is created in the aftermath.


	 April 21, 1958, United Airlines Flight 736, a Douglas DC-7, collides near Las Vegas, Nevada, with a US Air Force F-100 Super Sabre fighter on a training mission.

	 The 1960 New York mid-air collision: United Airlines Flight 826, a Douglas DC-8, and TWA Flight 266, a Lockheed Super Constellation, collide in mid-air over Staten Island in New York; all 128 aboard the two planes and six people on the ground are killed.

	 July 11, 1961, United Airlines Flight 859, a Douglas DC-8, crashes on landing at Stapleton International Airport, killing 17 passengers and one person on the ground.


	 November 23, 1962, United Airlines Flight 297, a Vickers Viscount 745D, crashes near Ellicott City, Maryland, following a bird strike; all 17 people on board die.


	 July 9, 1964, United Airlines Flight 823, a Vickers Viscount, crashes near Parrottsville, Tennessee, after a fire on board; all 39 passengers and crew die.


	 August 16, 1965, United Airlines Flight 389, a Boeing 727, crashes into Lake Michigan at night, after the pilots apparently misread their altimeters; all 24 passengers and six crew perish in the first fatal crash of the Boeing 727.


	 November 11, 1965, United Airlines Flight 227, a Boeing 727, crashes short of the runway during landing at Salt Lake City International Airport, Utah; 43 of 91 aboard are killed.


	 January 18, 1969, United Airlines Flight 266, a Boeing 727, en route from Los Angeles to Milwaukee loses all electrical power and crashes into Santa Monica Bay; six crew and 32 passengers are killed.


	 December 8, 1972, United Airlines Flight 553, a Boeing 737, crashes after aborting its landing attempt at Chicago Midway International Airport, killing 43 of 60 people on board and two people on the ground; among those killed was Dorothy Hunt, wife of Watergate conspirator E. Howard Hunt.

	 December 17, 1977, United Airlines Flight 2860, a Douglas DC-8, crashes in the Wasatch Range in Utah, killing the three crew on board.


	 December 28, 1978, United Airlines Flight 173, a Douglas DC-8, runs out of fuel while circling near Portland, Oregon, United States, as the crew investigates a light indicating a problem with the landing gear; the plane crashes in a suburban area damaging two unoccupied houses, killing 10 and injuring 24 of the 181 on board.


	 February 24, 1989, United Airlines Flight 811, a Boeing 747, suffers an explosive decompression shortly after takeoff from Honolulu, Hawaii, United States, caused by a cargo door that burst open during flight.

	 July 19, 1989, United Airlines Flight 232, a McDonnell Douglas DC-10, suffers a complete hydraulic system failure over Iowa, United States, after the tail-mounted engine disintegrates.

	 March 3, 1991, United Airlines Flight 585, a Boeing 737, crashes while attempting to land at Colorado Springs Airport, Colorado, killing all 25 people on board.

	 December 28, 1997, United Airlines Flight 826, a Boeing 747, encounters severe turbulence two hours into the flight; the aircraft safely lands back in Tokyo; all survive the accident, but a passenger dies later; despite having no damage, the aircraft is written off.


	 September 11, 2001, United Airlines Flight 175, a Boeing 767-200 with 65 people on board, is hijacked after taking off from Boston and is flown into the south tower of the World Trade Center in New York City; all on board are killed as well as around 900 people on the ground and in the building; the collapse of both towers brings the total death toll from the two crashes to at least 2,763, the worst disaster involving commercial aircraft.


	 September 11, 2001, United Airlines Flight 93, a Boeing 757-200 with 44 people on board, is hijacked after taking off from Newark, New Jersey; passengers struggle with the hijackers, and the aircraft crashes in a field near Shanksville, Pennsylvania, killing all on board.

**Task 2:** Find the models of aircrafts that have most incidents in the corpus.

# 3. Data transformation

Text data are not structured. To facilitate further data processing, it would be better if we convert text into more structured data, such as Dataframes.  

Here we use textual data instead of JSON output of Koko, because Koko's response doesn't include the original texts, but only the sentence ID of the matching sentences.

# From text to Dataframe

We use spaCy and pandas to convert text data into Dataframe.

In [17]:
import pandas as pd
import spacy
import re

nlp = spacy.load('en')

df = pd.DataFrame(columns=['Date', 'Airline', 'Aircraft', 'Location'])
# We could add the field of 'Aircraft'. But that could be tricky.

incidents = []
with open('./data/aviation_incidents_cleaned.txt') as myfile:
    for line in myfile:
        doc = nlp(line)
        icd = {'Date':'', 'Airline':'', 'Flight':'', 'Location':''}
        for ent in doc.ents:
            if ent.label_ == u'DATE':
                # Get the date
                icd['Date'] = ent.text
            elif ent.label_ == u'ORG':
                # Get the organization
                icd['Airline'] = ent.text                
            elif ent.label_ == u'PRODUCT':
                # Get the flight number
                if re.search(r'flight', ent.text, re.I):
                    icd['Flight'] = ent.text
            elif ent.label_ == u'GPE':
                # Get the location
                icd['Location'] += '' + ent.text
        incidents.append(icd)

df = pd.DataFrame(incidents)
df.head(5)

,Airline,Date,Flight,Location
0,the Illinois Trust and Savings Building,"July 21, 1919,",,ChicagoIllinois\n
1,Caproni Ca.48,"August 2, 1919,",,VeronaItalyVeniceTaliedoMilan\n
2,Golders Green,"December 14, 1920",,London\n
3,Thieulloy,"April 7, 1922,",,France\n
4,An Air Union,"May 14, 1923",,MonsuresSommeFrance\n

In [18]:
df.tail(5)

,Airline,Date,Flight,Location
1127,Boeing,"January 16, 2017",Flight 6491,BishkekKyrgyzstan\n
1128,South Supreme Airlines,"March 20, 2017",,South Sudan\n
1129,Boeing,"March 28, 2017",Flight 112,Jauja\n
1130,SFO,"July 7, 2017",,\n
1131,Airbus,"September 30, 2017",,Canada\n

** Task **: Extract models of aircrafts and add them into the dataframe.
You can use the following website for reference of aircraft models: 
https://en.wikipedia.org/wiki/List_of_aircraft_by_date_and_usage_category

# Follow-up processing:

- Entity matching: for example, merge different "Air France".
- Schema matching: merge with other aviation data.

# Back-up cells

In [15]:
from bs4 import BeautifulSoup

input_html = "./data/aircrafts.htm"
with open(input_html, "r") as ifile:
    soup = BeautifulSoup(ifile, 'lxml')
    with open('aircrafts_raw.txt', "w") as ofile:
        ofile.write(soup.get_text())