# Schema Matching & Entity Linking
#### Step 1) Loading our extracted data!
Here, we are repeating the last step of the first tutorial to create a data-frame containing the features that we are interested in.

In [1]:
import pandas as pd
import numpy as np
import spacy
import re

nlp = spacy.load('en')

incidents = []
with open('./data/aviation_incidents_cleaned.txt') as myfile:
    for line in myfile:
        doc = nlp(line)
        icd = {'Date':'', 'Airline':'', 'Flight':'', 'Location':'', 'Text':''}
        for ent in doc.ents:
            if ent.text.strip() == '': continue     # skip empty strings
            if ent.label_ == u'DATE':               # Get the date
                icd['Date'] = ent.text
            elif ent.label_ == u'ORG':              # Get the organization
                icd['Airline'] = ent.text                
            elif ent.label_ == u'PRODUCT':          # Get the flight number
                if re.search(r'flight', ent.text, re.I):
                    icd['Flight'] = ent.text
            elif ent.label_ == u'GPE':              # Get the location
                if icd['Location'] == '':
                    icd['Location'] = ent.text
                else:
                    icd['Location'] += ', ' + ent.text
        icd['Text'] = line
        incidents.append(icd)

df = pd.DataFrame(incidents)
df.sample(3)

,Airline,Date,Flight,Location,Text
980,Boeing,"November 10, 2008",Ryanair Flight 4102,,"November 10, 2008, Ryanair Flight 4102, a Boei..."
843,Airbus,"January 30, 2000",,Abidjan,"January 30, 2000, Kenya Airways Flight 431, an..."
1076,Merpati Nusantara Airlines,"June 10, 2013",Flight 6517,Indonesia,"June 10, 2013, Merpati Nusantara Airlines Flig..."

#### Step 2) Reading a new data source
Assume that we have came across a new dataset on flight indicents, and we would like to combine this dataset with what we extracted earlier. The first step would be to read the data.

In [2]:
external_df = pd.read_csv('data/crashes.csv', dtype='str')
external_df.sample(3)

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
2584,08/28/1972,14:30,"Papua, New Guinea",Military - Royal Australian Air Force,NaN,Lae - Port Moresby,de Havilland Canada DHC-4 Caribou,A4-233,NaN,29,25,0,"While traveling through a valley, the pilot re..."
182,06/24/1929,NaN,"St. Paul, Minnesota",Northwest Orient Airlines,NaN,St. Paul - Minneapolis,Ford 5-AT-B Tri-Motor,NC7416,5-AT-002,8,1,0,Crashed near Indian Mounds park shortly after ...
980,12/23/1948,NaN,"Near Madrid, Spain",Iberia Airlines,NaN,Madrid - Barcelona,Douglas DC-3 (C-47-DL),EC-ABK,4256,27,27,0,Crashed into Pandols Mountain while en route.

---
## Schema Matching

#### Step 3) Figuring out how the two datasets are related
We need to figure out which columns in the new dataset corresponds to the columns in our dataset. Obviously humans can do this manually by reviewing the names assigned to each column as well as looking at the values listed under each column. However, there are many cases in which this task becomes exteremely cumbersome (e.g., when there are many data sources, or when data-sources are found with no proper description). In this part, we demonstrate some technique to automatically find which columns are related to each other.

Let's start by creating subset of both datasets where there are no missing values.

In [3]:
full_df = df.replace(r'^\s*$', np.nan, regex=True).dropna(axis=0)
full_external_df = external_df.replace(r'^\s*$', np.nan, regex=True).dropna(axis=0)

#### Step 4) Using Jaccard similarity to match the columns
It is safe to say that columns that share similar values are of the same type. To measure the similarity of the values that appear in two columns, we can use the jaccard similarity. Let's start by computing the similarity of all columns in the external data with the column 'Airline' in our dataset.

In [4]:
col_vals = set(full_df['Airline'].unique())
for col in full_external_df.columns:
    ext_col_vals = set(full_external_df[col].unique())
    intersection_size = len(col_vals.intersection(ext_col_vals))
    union_size = len(col_vals.union(ext_col_vals))
    jaccard = intersection_size / union_size
    if jaccard != 0:
        print(col + ' has similarity score ' + str(jaccard))

Operator has similarity score 0.04017857142857143
Type has similarity score 0.006361323155216285

Now let's try the same technique for column 'Date'.

In [5]:
col_vals = set(full_df['Date'].unique())
for col in full_external_df.columns:
    ext_col_vals = set(full_external_df[col].unique())
    intersection_size = len(col_vals.intersection(ext_col_vals))
    union_size = len(col_vals.union(ext_col_vals))
    jaccard = intersection_size / union_size
    if jaccard != 0:
        print(col + ' has similarity score ' + str(jaccard))

Flight # has similarity score 0.0037209302325581397
cn/In has similarity score 0.0022488755622188904
Aboard has similarity score 0.0015923566878980893
Fatalities has similarity score 0.001694915254237288

We can see that the jaccard similarity works well when we deal with categorical features which are limited to a fixed set of values. However, for attributes such as 'Date', we can see that jaccard similarity is not performing well. This is because Dates while having similar format can have many distinct values.

#### Step 5) Using FlexMatcher to match the schemas
FlexMatcher is package that uses maching learning technqiues to figure out which columns should be mapped together. For instance, while the extact values under column 'Date' may not be identical, FlexMatcher can detect the common patterns and map the column to another column that exhibits similar patterns.

FlexMatcher works as follows. It takes as input a list of dataframes and list of dictionaries that describe how the columns in the input dataframes map to the columns that we are interested in. Once this data is provided, FlexMatcher learns the common patterns. Then, we provide a new dataframe and the FlexMatcher would predict which columns of the new dataset are related to the columns we are interested in. 

Since, we only have two dataframes, we need to simplify our setting. We use our extracted datset to both train on, and the columns we are interested in are exactly the 5 columns that are in the extracted datset. Then, we ask FlexMatcher to make a prediction about the external datasource.

In [6]:
import flexmatcher

# training FlexMatcher
schema_list = [full_df]
mapping_list = [dict(zip(full_df.columns, full_df.columns))]
fm = flexmatcher.FlexMatcher(schema_list, mapping_list, sample_size=500)
fm.train()

Create training data ...
Training data done ...
0.13944482803344727
0.15560221672058105
0.629662036895752
0.5134270191192627
0.36774110794067383
0.39583897590637207
0.3585529327392578
Meta: 0.13860297203063965

In [7]:
# making a prediction
predicted_mapping = fm.make_prediction(full_external_df)
predicted_mapping

{'Date': 'Date',
 'Location': 'Location',
 'Operator': 'Flight',
 'Summary': 'Text',
 'Type': 'Airline'}

It's important to remember that machine learning techniques also make mistakes. In this case, FlexMatcher fails to make a correct prediction for the attribute 'Flight' which should clearly be mapped to column 'Flight #'. It's easy to see why FlexMatcher is confused. The values under 'Flight' in mostly contain the word "Flight" in them:

In [8]:
full_df['Flight'].sample(3)

1087     Flight 17
258     Flight 121
58        Flight 2
Name: Flight, dtype: object

While the external datset only list numbers:

In [9]:
full_external_df['Flight #'].sample(3)

5108    778
3336    350
431     15A
Name: Flight #, dtype: object

This makes it for the learning algorithm to see the similarities. In fact, the algorithm sees more similarities between the 'Flight #' column and other column such as 'Aboard' which represents the number of people on the flight

**Task: Create a copy of the external_df and remove the column 'Location' from it. Now use FlexMatcher to make a prediction for this new dataframe. How is the new mapping different from the previous mapping? How do you explain the new results?**

In [10]:
# >>>> to be done by students...
new_external_df = external_df.drop(['Location'], axis=1)
predicted_mapping = fm.make_prediction(new_external_df)
predicted_mapping

{'Date': 'Date',
 'Operator': 'Airline',
 'Route': 'Location',
 'Summary': 'Text',
 'Type': 'Flight'}

---
## Entity Linking

Now that we know how the columns of the two datasets are related, we can try to merge the two datasets. Our goal is to augment our dataset which additional features that we can find in the external data source. We assume two datapoints refer to the same incident if the listed Airline and the flight number are identical. 

#### Step 6) Finding matching attributes using dataframes
Recall that there is a mistmatch between the format of the flight numbers. We start by cleaning the flight number in our dataset to only keep the numbers (and drop the word flight). Then we can use dataframes to find matching incidents.

In [11]:
import re
clean_df = full_df.copy()
clean_df['Flight'] = clean_df['Flight'].apply(lambda x: '-'.join(re.findall(r'\d+', x)))

In [12]:
combined = clean_df.merge(full_external_df,
                         right_on=['Operator', 'Flight #'],
                         left_on=['Airline', 'Flight'], how='inner')
print('We have found ' + str(len(combined)) + ' matching records!')
combined.head(3)

We have found 32 matching records!

,Airline,Date_x,Flight,Location_x,Text,Date_y,Time,Location_y,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,American Airlines,"January 14, 1936",1,"Goodwin, Arkansas","January 14, 1936, American Airlines Flight 1, ...",01/14/1936,19:32,"Goodwin, Arkansas",American Airlines,1,"Newark, NJ - Fort Worth, TX",Douglas DC-2-120,NC14274,1307,17,17,0,Flew into trees and disintegrated. The cause o...
1,American Airlines,"January 14, 1936",1,"Goodwin, Arkansas","January 14, 1936, American Airlines Flight 1, ...",10/30/1941,22:10,"St. Thomas, Ontario, Canada",American Airlines,1,New York - Buffalo - Chicago - Detroit,Douglas DC-3,NC25663,2207,20,20,0,"The aircraft, on a flight from New York to Chi..."
2,American Airlines,"January 14, 1936",1,"Goodwin, Arkansas","January 14, 1936, American Airlines Flight 1, ...",03/01/1962,10:09,"Jamaica Bay, New York, New York",American Airlines,1,New York City - Los Angeles,Boeing B-707-123B,N7506A,17633/12,95,95,0,After taking off from Idlewild Airport and rea...

This is interesting, but is that all?

#### Step 7) Trying approximate string matching using the py_stringsimjoin package
The main problem with an exact match is that there might be slight variations of airline names. For instance, XXX and YYY both refer to the same airline but an exact match would miss that. To solve this issue, we can match two airline names that are almost similar. For instance, we can compute the edit distance between the two records and keep the records have a small distance (say at most 3).

In [13]:
import py_stringsimjoin as ssj

# The py_stringsimjoin package requires the dataframe to have a column
# that can serve as a unique key. The next two lines add a column 'id'
# to each dataframe to address this.
clean_df['id'] = range(len(clean_df))
full_external_df['id'] = range(len(full_external_df))

# The inputs are:
# (1-2) left table and the right table, (3-4) the unique key in the left table and the right table,
# (5-6) the attribute to join on in the left table and the right table,
# (7-8) list of attributes to fetch from the left table and the right table,
# (9) the threshold for the edit distance; values with smaller edit distance would be considered a match.
similar_airlines = ssj.edit_distance_join(clean_df, full_external_df, 'id', 'id', 'Airline','Operator',
                                          l_out_attrs=['Airline', 'Date', 'Location', 'Flight'],
                                          r_out_attrs=['Operator', 'Flight #', 'Location', 'Fatalities'],
                                          threshold=3)

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

The above script only joins the airline name and does not take into account the flight numbers. To get the desired resutls, we can only select those rows that have matching flight numbers. Note that the join function appends the prefix 'r_' and 'l_' to the columns of the right and the left table respectively.

In [14]:
# getting those rows with matching flight numbers
combined = similar_airlines.loc[similar_airlines['r_Flight #'] == similar_airlines['l_Flight']]
print('We have found ' + str(len(combined)) + ' matching records!')
combined.sample(3)

We have found 41 matching records!

,_id,l_id,r_id,l_Airline,l_Date,l_Location,l_Flight,r_Operator,r_Flight #,r_Location,r_Fatalities,_sim_score
597,597,269,664,American Eagle,"October 31, 1994,","Roselawn, Indiana, Chicago",4184,American Eagle,4184,"Roselawn, Indiana",68,0.0
491,491,200,513,Aeroflot,"October 11, 1984","Tupolev, Omsk, Russia",3352,Aeroflot,3352,"Near Omsk, Russia",174,0.0
405,405,160,444,Aeroflot,"January 13, 1977,","Tupolev, Tu-104",3843,Aeroflot,3843,"Near Alma Ata, Kazakastan, USSR",96,0.0

This is an improvement over our previous results. We can take a look at rows in which the airline names don't exactly match to see the new matches that we have detected.

In [15]:
combined.loc[combined['l_Airline'] != combined['r_Operator'], ['l_Airline', 'r_Operator']]

                      l_Airline                r_Operator
124             United Airlines          United Air Lines
137             United Airlines          United Air Lines
145             United Airlines          United Air Lines
168             United Airlines          United Air Lines
354              Japan Airlines           Japan Air Lines
420             United Airlines          United Air Lines
446              Japan Airlines           Japan Air Lines
516  Pacific Southwest Airlines  PacifiSouthwest Airlines
764                      PMTair                   PMT Air

#### Step 8) Linking the entities using other columns

What we have presented so far is by no means the best way we can approach the problem of linking entities. We only focused on a subset of columns to see what techniques can be applied.

An alternative approach to linking these entities would be to use the Date column in both datasets. This probably yields better results since (1) it's quite unlikely to have multiple incidents in a day, and (2) it's easier to check for an exact match. We need to consider the fact that Date format is different in the two datasets, but after cleaning the data, it might be the most useful column for matching the entities. 

**Task: Use the column 'Date' to find the matching between the two datasets. Note that attribute 'Date' is usually not missing, thus we can find more matches by considering all data points (even those with missing values in different columns).**

In [16]:
# >>>> to be done by students...

# use column 'Date' in df and external_df to find a matching incidents
# sub-step 1) Transform the Date in df to have the same format as the other dataset
# sub-step 2) Use dataframe's merge function to find an exact match
# sub-setp 3) Sample a few rows from the resulting table and see how many seems to be correct/incorrect